*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 62, 90);
}

header{
    background-color: rgb(18, 38, 56);
    padding: 0.5em 0;
    color: rgb(250, 250, 250);
    text-align: center;
    margin: 0;
}

.code-container{
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.container{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 70vh;
    text-align: center;
}

.text-area
{
    width: 90%;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(230, 230, 230);
}

footer
{
    background-color: rgb(18, 38, 56);
    width: 100%;
    height: 15%;

    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.compile
{
    background-color: rgb(210, 210, 210);
    width: 15%;
    height: 70%;
    border-radius: 15px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.compile:hover
{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.compileText{
    color: rgb(20,20,20);
    font-size: 3vw;
}

.errorsBox{
    width: 70%;
    height: 80%;
    background-color: rgb(210, 210, 210);
    overflow: auto;
}

.errorsText{
    margin-top: 15px;
    color: rgb(20,20,20);
}

.logo{
    height: 90%;
    width: 10%;
    display: flexbox;
    align-items: center;
}

.logo .image {
    background: url(https://i.ibb.co/swzbRNb/LogoPNG.png) no-repeat center center;
    background-size: contain;
    height: 100%;
}