body
{
    background-color: rgb(29, 62, 90);
}

.title
{
    color: rgb(250, 250, 250);
    margin-left: 45%;
}

.code
{
    margin-left: 30%;
    margin-bottom: 100px;

    background-color: rgb(230, 230, 230);
}

.footer
{
    background-color: rgb(4, 30, 48);
    width: 100%;
    height: 100px;

    position: fixed;
    right: 0;
    bottom: 0;
}

.compile
{
    background-color: rgb(210, 210, 210);
    width: 15%;
    height: 70px;
    border-radius: 15px;

    margin-top: 15px;
    margin-left: 15px;

    text-align: center;
    padding-top: 0.1px;

    float: left;
}

.compile:hover
{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.compileText{
    color: rgb(20,20,20);
}

.errorsBox{
    width: 63%;
    height: 80%;
    background-color: rgb(210, 210, 210);
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    overflow: auto;
    padding-left: 2%;
}

.errorsText{
    margin-top: 15px;
    color: rgb(20,20,20);
}

.logo{
    background-image: url(https://i.ibb.co/swzbRNb/LogoPNG.png);
    background-size: contain;
    margin-left: 2%;
    height: 90%;
    margin-top: 5px;
    width: 106.6px;
    float: left;
}